/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
 @import 'settings';

 $my-white: #f2f2f2;

h1 {
  font-weight: bolder;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

input.stealth-input {
  border: none;
  background-color: inherit;
  outline: none;
}

input.stealth-input:focus {
  border: none;
  background-color: default;
  color: inherit;
}

input.big-input {
  font-size: 2rem;
}

textarea {
  resize: none;
  height: 4rem;
}

input {
  display: inline;
}

.tall {
  line-height: 2.1rem;
}

.white {
  color: $my-white;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

#linkbox {
  cursor: text;
}

body {
  background-color: scale-color($secondary-color, $lightness: 35%);
  height: 100vh;
}

.top-bar {
  background-color: $secondary-color;
}

footer {
  width: 100%;
  background-color: scale-color($primary-color, $lightness: -20%, $saturation: -15%);
  padding: 0.7rem;
}