/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
 
 $my-white: #f2f2f2;

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

input.stealth-input {
  border: none;
  background-color: inherit;
  color: $my-white;
  outline: none;
}

input.stealth-input:focus {
  border: none;
  background-color: default;
  color: inherit;
}

input.big-input {
  font-size: 2rem;
}

textarea {
  resize: none;
  height: 4rem;
}

input {
  display: inline;
}

.valign-center {
  vertical-align: middle;
}

.errortext {
  line-height: 4rem;
}