/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

 $my-white: #f2f2f2;
 $my-blue: #1eb4ff;
 $my-red: #f2421f;
 $accent1: rgb(255, 189, 145);
 $accent2: #4C3A26;

 .title {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
 }

 .red {
   background-color: $my-red;
   color: white;
 }

 .button {
  border-radius: 0.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  margin: 0.25rem;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 .big {
   font-size: 2rem;
   padding: 1rem;
 }

 div.grid {
   display: grid
 }

 .text-center {
   text-align: center;
 }