@import 'foundation';
@import 'settings';
@import 'util/util';
@import 'util/color';
@include add-foundation-colors;

textarea.poll-description-field {
  outline: none;
}

textarea.poll-description-field::placeholder {
  color: dimgray;
}

textarea:focus {
  outline: none;
}

input.poll-option-field {
  display: inline;
}

input.poll-option-field::placeholder {
  color: dimgray;
}

li.poll-option-item {
  font-size: 1.5rem;
}

.poll-new-callout {
  background-color: #ebe0c9;
}